@model Kanban.Models.Task
@{ Layout = "/Views/Shared/Layout.cshtml"; }

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/task/index">Task</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update</li>
  </ol>
</nav>

<form action="/task/update/@Model.TaskId" method="POST">
    <input name="title" class="form-control" value="@Model.Title" />
    <input name="description" class="form-control" value="@Model.Description"/>
    <input name="points" class="form-control" value="@Model.Points"/>
    <input name="priority" class="form-control" value="@Model.Priority"/>
    <br/>
    <button class="btn btn-primary">Atualizar</button>
</form>