@{ Layout = "/Views/Shared/Layout.cshtml"; }

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/status/index">Status</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create</li>
  </ol>
</nav>

<form action="/status/create" method="POST">
    <input name="name" class="form-control"/>
    <br/>
    <button class="btn btn-primary">Salvar</button>
</form>