@model List<Status>
@{ Layout = "/Views/Shared/Layout.cshtml"; }

    <form action="/status/search" method="POST" class="input-group mb-3">
        <input name="search" class="form-control"/>
        <button class="btn btn-outline-secondary">Pesquisar</button>
    </form>

    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th colspan="2">&nbsp;</th>
        </tr>

        @foreach(var status in Model)
        {
        <tr>
            <td>@status.StatusId</td>
            <td>@status.Name</td>
            <td><a href="/status/delete/@status.StatusId">Delete</a></td>
            <td><a href="/status/update/@status.StatusId">Update</a></td>
        </tr>
        }

    </table>

    <a href="/status/create" class="btn btn-primary">Create</a>